{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "anirudh.tiwari@colorado.edu",
      "Space": "prod"
    },
    "Name": "Lab1-DIIOT",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}